@import url('https://fonts.googleapis.com/css?family=Comfortaa|Roboto');

.navbar-brand {
	font-family: 'Comfortaa' , sans-serif;
	font-size: 25px;
	border-right: 1.5px solid white;
	padding-right: 15px;
	cursor: pointer;
	text-decoration: none;
	color: white;
}

.navbar-brand:hover {
	color: white;
}

nav.blue {
	background-color: #1E88E5;
	color: white;
}

nav.navbar ul li {
	padding: 5px 5px;
}

div.tutorials-dropmenu, div.examples-dropmenu {
	width: 100%;
}

.dropdown-item-list-container {
	width: 50%;
	text-align: center;
	float: left;
}

.dropdown-item-list-title {
	font-size: 20px; 
}