@import url('https://fonts.googleapis.com/css?family=Comfortaa|Roboto');

.navbar-brand {
	font-family: 'Comfortaa' , sans-serif;
	font-size: 25px;
	border-right: 1.5px solid white;
	padding-right: 15px;
	cursor: pointer;
	text-decoration: none;
	color: white;
}

#navbar-examples-Dropdown {
	cursor: pointer;
}

#navbar-tutorials-Dropdown {
	cursor: pointer;
}

.jumbotron {
	background-color: #F5F5F5;
}

#css3-img {
	margin-left: 30px;
}

.navbar-brand:hover {
	color: white;
}

nav.blue {
	background-color: #1E88E5;
	color: white;
}

nav.navbar ul li {
	padding: 5px 5px;
}

div.tutorials-dropmenu, div.examples-dropmenu {
	width: 100%;
}

.dropdown-item-list-container {
	width: 50%;
	text-align: center;
	float: left;
}

.dropdown-item-list-title {
	font-size: 20px; 
}

.jumbotron .jumbo-content-container {
	float: left;
	width: 50%;
}
.jumbotron .img-container img {
	height: 300px;
}

button.search-btn-large-devices {
	display: inline-block;
}

button.search-btn-small-devices {
	display: none;
}

ul.mobile-nav li a {
	text-decoration: none;
	color: black;
}

ul.mobile-nav li a:hover {
	text-decoration: none;
	cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .navbar-brand {
    	border: none;
    }
    .search-form {
    	display: none;
    }
    .jumbotron img {
    	display: none;
    }
    .jumbotron .jumbo-content-container {
    	float: none;
    }
    button.search-btn-small-devices {
    	display: inline-block;
    }
    button.search-btn-large-devices {
    	display: none;
    }
}